<!DOCTYPE html>
<html>
    <head>
        <title>SIGNOS - PRODUCTOS</title>
    <div th:substituteby="includes/header"/>
</head>
<body>
    <div th:substituteby="includes/menu :: adm"/>

    <div class="container">
        <div class="span12">
            <div class="page-header">
                <a class="btn btn-primary pull-right" th:href="@{/adm/producto/new}">Agregar</a>
                <h2>PRODUCTOS</h2>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Cliente</td>
                        <td>Producto</td>
                        <td>Descripción</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto, item: ${productos}" th:id="'row'+${item.count}">
                        <td th:text="${producto.cliente.nombre}"></td>
                        <td th:text="${producto.nombre}"></td>                 
                        <td th:text="${producto.descripcion}"></td>
                        <td>
                            <a th:href="@{/adm/producto/} + ${producto.id} + '/update'">editar</a>
                            <a class="showDeleteModal"  href="#" th:rel="${producto.id}">eliminar</a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>

    <div class="modal hide fade" id="deleteModal" th:href="@{/adm/producto/delete}">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Eliminar</h3>
        </div>

        <div class="modal-body">
            <p>Confirmar para eliminar el registro.</p>
        </div>

        <div class="modal-footer">
            <input type="hidden" name="id" id="deleteValue" value="" />

            <a data-toggle="modal" href="#deleteModal" class="btn">Cancelar</a>
            <a class="btn btn-danger" id="confirmDelete" >Eliminar</a>

        </div>
    </div>
</body>
<div  th:substituteby="includes/footer"/>
<script>
    var rowId = null;
    var deleteValue = null;

    $('.showDeleteModal').each(function(index, elem) {
        $(elem).click(function() {
            rowId = $(elem).parents('tr').first().attr('id');
            deleteValue = $(elem).attr('rel');

            $('#deleteModal').modal('show');
        });
    });

    $('#confirmDelete').click(function() {
        $.ajax({
            url: $('#deleteModal').attr('href').toString(),
            method: 'post',
            data: {id: deleteValue},
            success: function(result) {
                $('#deleteModal').modal('hide');

                if (result.success) {
                    $('#' + rowId).fadeOut(1000, function() {
                        $('#' + rowId).remove();
                    });
                }
            }
        });
    });
</script>
</html>
